.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-align: center;
    grid-template-rows: repeat(7,100px);
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}